<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <h3>Address</h3>
        <p>Street: 3279 Heavner Court</p>
        <p>City: New York</p>
        <p>State: NY</p>
        <p>Zip Code: 10013</p>
        <p>Phone Number: 516-232-1884</p>
      </div>
      <div class="small-12 medium-6 columns">
        <h3>Stay Connected</h3>
        <div class="socials">
          <i class="fi-social-facebook"></i>
          <i class="fi-social-skype"></i>
          <i class="fi-social-twitter"></i>
          <i class="fi-social-linkedin"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p class="itechart">
          © 2018 <span class="red">:i</span>Tech<span class="red">Art</span> LLC. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>


</footer>
