$header-height: 80px;

header {
  height: $header-height;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#logo {
  margin: 0 2rem;
  img {
    max-width: 120px;
  }
}

.navigation-bar {
  display: flex;
  list-style: none;
  align-items: stretch;
  margin: 0;
  flex-basis: 250px;

  li {
    border-bottom: 1px solid #18A7D6;
    line-height: $header-height;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    flex-grow: 1;
    &:hover {
      background-color: white;
    }

    a {
      padding: 0 1rem;
      color: #717171;
      display: block;
      &:hover {
        color: #69D9FF;
      }
      &.active {
        font-weight: bold;
        color: #1095C2;
        text-decoration: underline;
      }
    }
  }
}
