<h1>Book Discounter</h1>
<div class="home-page">
  <h2>Best Sellers!</h2>
  <ul class="bxslider" appCarousel>
    <li>
      <img class="" src="/api/book/image/book_1.jpg" alt="Harry Potter and the Chamber of Secrets">
    </li>
    <li>
      <img class="" src="/api/book/image/book_2.jpg" alt="Harry Potter and the Chamber of Secrets">
    </li>
    <li>
      <img class="" src="/api/book/image/book_4.jpg" alt="Harry Potter and the Prisoner of Azkaban">
    </li>
    <li>
      <img class="" src="/api/book/image/book_8.jpg" alt="Baby Touch and Feel: Animals">
    </li>
  </ul>

</div>
